<!--the top <form> is carried from the view this is a partial used in-->
    <div class="form-group-gamja2">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="Placeholder">
    </div>
    <div class="form-group-gamja2">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" value="Placeholder">
    </div>
    <div class="form-group-gamja2">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" value="trial@gmail.com">
    </div>
    <div class="form-group-gamja2">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" value="preentered">
    </div>
    <div class="form-group-gamja2">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" value="preentered">
    </div>
    <div class="form-group-gamja2">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            <p>I have read and understood the terms and conditions conditions below</p>
        </label>
    </div>
    <input type="hidden" name="id" value="{{animalName}}">
    <button type="submit" class="btn btn-primary" name="{{animalName}}">Adopt Me</button>
</form>
