<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Learn About Us!</h1>
                <h2>Who we are</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <h3>Elizabeth Mayer - the Programmer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                <a class="gamja" href="https://www.github.com/eamayer">Portfolio</a>
            </div>
            <div class="col-md-6">
                <img src="/images/cat.png"alt="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <hr>
                    <h3>Joy Moon - the Designer</h3>
                        <p>All artwork on this website was designed by Joy Moon.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        <a class="gamja" href="https://www.byjoymoon.com/">Portfolio</a>
                </div>
                <div class="col-md-6">
                    <img src="/images/lolli.png"alt="">
                </div>
            </div>
        </div>
    </div>
</section>

