<!--Used when pet is adopted through navigation bar-->
<div class="container-fluid">
    <div class = "centered" style="margin-left: 25%; align-content:center; width: 50%; background-color: white"  >
        <form method="post">
            <div class="form-group-gamja2">
                <label for="animaladopting">Animal you want to adopt:</label>
                <select id="animaladopting" name="animaladopting">
                    <option value="lolli">Lolli</option>
                    <option value="molly">Molly</option>
                    <option value="goony">Goony</option>
                    <option value="sally">Sally</option>
                    <option value="yammy">Yammy</option>
                    <option value="zack">Zack</option>
                </select>
                <img id="animalImage" src="/images/lolli.png" class="center-image" alt="" >
                {{>adoptPageForm}}
            </div>
        </form>
    <div>
        {{>termsAndConditions}}
    </div>
</div>
<script src="../javascripts/adoptPage.js"></script>